<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()">
        Menú
      </ion-button>
      <!-- la etiqueta ion menu button permite ahorrar trabajo de hacer la función y demás porque ya está todo automático -->
      <!-- <ion-menu-button menu="first"></ion-menu-button> -->
    </ion-buttons>
    <ion-title>Menú</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-router-outlet id="main"></ion-router-outlet>
</ion-content>
