<app-header titulo="Alert"></app-header>

<ion-content>


    <ion-grid fixed>
        <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
                <ion-button (click)="onClick()">
                    Mostrar una alerta
                </ion-button>

            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
                <ion-button (click)="onClick2()">
                    Mostrar otra alerta
                </ion-button>

            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
