<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalized">Avatar</ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-avatar class="img-avatar-avatar" >
        <img  src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid fixed>
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">    
      <ion-item routerLink="/inicio">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>Jonathan Guillermo Jaimes</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">    
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </ion-col>
    <ion-col size="auto">
      <ion-row class="ion-align-items-center" style="height: 100%;">
        <ion-col size="12">
          <ion-label>Miguel Angel Galeazzo</ion-label>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">    
      <ion-chip color="primary" outline="true">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>Invitar</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>

</ion-grid>
</ion-content>
